:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .main-content {
    display: flex;
    justify-content: center;

    nav {
      width: 200px;
    }
    hr {
      margin: 0 16px;
    }

    .filters {
      display: flex;
      flex-direction: column;
    }

    form {
      display: flex;
      flex-direction: column;
      margin: 0 16px;
      input, select, button {
        margin: 4px 0;
      }
    }
  }

  .products {
    width: 300px;
    ul {
      list-style: none;
      padding: 0;
    }
    .product-card {
      .header {
        display: flex;
        justify-content: space-between;
      }
      padding: 8px;
      margin: 4px 0;
      border: 1px solid lightgray;
      border-radius: 4px;
      h4 {
        margin: 0 0 8px;
      }
    }
  }
}
