<div class="main-content">
  <nav>
    <div>
      Actions: <br>
      <button (click)="disableFormMode(); isAddMode = true;">Add Product</button>
    </div>
    <br>
    <div class="filters">
      Filters:
      <input [formControl]="filter" type="text">
    </div>
    <br>
    Floors:
    <ul *ngIf="floors$ | async as floors">
      <li *ngFor="let floor of floors">
        <a (click)="select(floor)">{{floor.name}}</a>
      </li>
    </ul>
    <ng-container *ngIf="selectedFloor">
      Sections:
      <ul>
        <li *ngFor="let section of selectedFloor.sections">
          <a (click)="select(selectedFloor, section)">
            {{section.name}}
          </a>
        </li>
      </ul>
    </ng-container>
  </nav>
  <hr>
  <ng-container *ngIf="isAddMode || isEditMode">
    <form [formGroup]="form" (ngSubmit)="save()">
      <h3>Add Product</h3>
      <input type="text" placeholder="Code" formControlName="code">
      <span class="validation-error" *ngIf="controls.code?.touched && controls.code?.errors?.required">
        Field is required
      </span>
      <span class="validation-error" *ngIf="controls.code?.touched && controls.code?.errors?.pattern">
        Invalid pattern
      </span>
      <input type="number" placeholder="Quantity" formControlName="quantity">
      <span class="validation-error" *ngIf="controls.quantity?.touched && controls.quantity?.errors?.required">
        Field is required
      </span>
      <!-- I didnt want to use ngModel to set placeholder on select
      just because natively it doesnt work in Angular -->
      <select placeholder="Floor" formControlName="floorNumber">
        <option [value]="floor.number" *ngFor="let floor of floors$ | async">
          {{floor.name}}
        </option>
      </select>
      <span class="validation-error" *ngIf="controls.floorNumber?.touched && controls.floorNumber?.errors?.required">
        Field is required
      </span>
      <!-- I didnt want to use ngModel to set placeholder on select
      just because natively it doesnt work in Angular -->
      <select placeholder="Section" *ngIf="form.get('floorNumber')?.value" formControlName="sectionNumber">
        <option [value]="section.number" *ngFor="let section of floor?.sections">
          {{section.name}}
        </option>
      </select>
      <span class="validation-error" *ngIf="controls.sectionNumber?.touched && controls.sectionNumber?.errors?.required">
        Field is required
      </span>
      <button [disabled]="!form.valid" type="submit">Submit</button>
    </form>
  </ng-container>
  <ng-container *ngIf="!isAddMode && !isEditMode">
    <div class="products">
      <ul *ngIf="warehouseService.filteredProducts$ | async as filteredProducts">
        <li *ngFor="let product of filteredProducts">
          <div class="product-card">
            <div class="header">
              <h4>{{product.code}}</h4>
              <button (click)="edit(product)">Edit</button>
            </div>
            <div>Quantity: {{product.quantity}}</div>
            <div>Location: {{product.floorNumber}} / {{product.sectionNumber}}</div>
          </div>
        </li>
      </ul>
      <ul *ngIf="selectedFloor && selectedSection">
        <li *ngFor="let product of selectedSection.products">
          <div class="product-card">
            <div class="header">
              <h4>{{product.code}}</h4>
              <button (click)="edit(product)">Edit</button>
            </div>
            <div>Quantity: {{product.quantity}}</div>
            <div>Location: {{selectedFloor.number}} / {{selectedSection.number}}</div>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
